# Ігнорування віртуального середовища
venv/
.venv/
env/
ENV/
*.env
*.venv
Pipfile
Pipfile.lock
__pycache__/

# Ігнорування специфічних файлів операційних систем
*.DS_Store
*.vscode/
*.idea/
*.swp
*.swo
*.swn

# Ігнорування вихідних файлів
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pdb

# Ігнорування міграційних файлів бази даних
alembic/versions/*.pyc
alembic/versions/*.pyo
alembic/versions/*.pyd

# Ігнорування вихідних та тимчасових файлів
*.tmp
*.bak
*.backup
*.old

# Ігнорування конфігурацій Docker
docker-compose.override.yml

# Ігнорування файлів і тек, створених IDE
.idea/
*.sublime-workspace
*.sublime-project
.vscode/

# Ігнорування специфічних файлів системи (Windows, Mac)
Thumbs.db
Desktop.ini

# Ігнорування файлів, пов'язаних з тестуванням
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ігнорування специфічних для Python пакетів
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/